{% extends 'base.html' %}
{% block title %} TIMELY {% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}"> {% endblock %}

{% block content %}  
<!-- Top Search Field -->
  <div class="search-container">
    <form action="/search" method="GET">
      <input type="text" name="search" placeholder="Search a friend" class="search-input">
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>

  <!-- Friends Table -->
  {% for time, friend in friend_times %}
  <div class="friend-card", onclick="location.href='/overlaps';">
    <div class="friend-card-fill">
      <div class="friend-info">
        <div class="friend-name"> {{ friend.name }}</div>
        <div class="friend-location"> 📍 {{ friend.location }} </div>
      </div>
      <div class="friend-time"> {{ time }} </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

