{% extends 'base.html' %}
{% block title %} TIMELY: Friend {% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}

{% block content %} 
<div class="board">
    
    <div class="board_item">
        <!-- Change user names to redirect to their profile -->
        <div class="text-medium"> {{ current_user.name }}</div> 
    </div>

    <div class="board_item">
        <div class="timetable">
            {% for time1, time2 in times %}
            <div class="column" onclick="location.href='/users';"> 
                <div class="timeblock t{{ time1 }} o{{ time2 }}"> {{time1}} </div>
                <div class="timeblock t{{ time2 }} o{{ time1 }}"> {{time2}} </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="board_item">
        <div class="text-medium"> {{ selected_user.name }}</div>
    </div>

    <button type="button" class="next-day-button" >CHECK THE NEXT DAY</button>
</div>
{% endblock %}