<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> {% block title %} {% endblock %} </title>
    {% block css %} {% endblock %}
    <link rel="stylesheet" type=text/css href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap">
    <link rel="stylesheet" type=text/css href="../static/home_style.css">
</head>
    <body>
        <div class="container-home">

            <!-- Sidebar -->
            <div class="left-column">
                <h1, class="timely"> T I M E L Y </h1>
                <ul class="upper-links"></ul>
                <ul class="lower-links">
                  <li><a href="/home">Home</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Notifications</a></li>
                  <li><a href="/">Settings</a></li>
                </ul>
            </div>

            <!-- Page-specific Content -->
            <div class="content-container">
                {% block content %} {% endblock %}
            </div>

        </div>
    </body>
</html>
